$body-bg-clr: #eee;
$body-text-clr:rgb(44, 44, 44);


$form-bg-clr: rgba(61, 43, 0,.1);
$base-border-radius:.5rem;
$small-border-radius:.2rem;



$comment-item-bg-clr:rgb(210, 226, 243);
$comment-item-border-clr:rgb(44,44,44);
