#home{
   &>*{
       margin-bottom: 1rem;
   }
    .section_{
        &comment-list{
            margin-right:auto;
            margin-left:auto;
            margin-top: 2rem;
            max-width: 576px;
        }
    }
   .comment-list_title{
       margin-bottom: .5rem;
   } 
}